@using Entities.DTOs;

@model IEnumerable<CargoDto>

@section Styles {
    <link rel="stylesheet" href="~/scss/Cargo/index.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/scss/General/entityTable.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/scss/General/buttonStyles.min.css" asp-append-version="true" />
}

<div class="tableHelper">
    <h2>Cargos List</h2>

    <div class="tableHelperButtons">
        <a class="defaultButton" href="@Url.Action("CreateView")">Create cargo</a>

        <form method="get" action="@Url.Action("Index")" class="pageSizeForm">
            <input type="hidden" name="page" value="@ViewBag.CurrentPage" />
            <input type="number" name="pageSize" value="@ViewBag.PageSize" min="1" max="@ViewBag.TotalSize" class="numberField" />
            <button type="submit" class="defaultButton">Set Page Size</button>
        </form>
    </div>
</div>

<table class="entityTable">
    <thead>
        <tr>
            <th>Title</th>
            <th>Weight (kg)</th>
            <th>Registration Number</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var cargo in Model)
        {
            <tr>
                <td>@cargo.Title</td>
                <td>@cargo.Weight</td>
                <td>@cargo.RegistrationNumber</td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (ViewBag.HavePrev)
    {
        <a class="defaultButton" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })">Previous</a>
    }
    else
    {
        <button class="defaultButton" disabled>Previous</button>
    }

    <span class="current-page">Page @ViewBag.CurrentPage</span>


    @if (ViewBag.HaveNext)
    {
        <a class="defaultButton" href="@Url.Action("Index", new { Page = ViewBag.CurrentPage + 1, PageSize = ViewBag.PageSize })">Next</a>
    }
    else
    {
        <button class="defaultButton" disabled>Next</button>
    }
</div>
