@using Entities.DTOs

@model IEnumerable<SettlementDto>

@section Styles {
    <link rel="stylesheet" href="~/scss/Settlement/index.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/scss/General/entityTable.min.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/scss/General/buttonStyles.min.css" asp-append-version="true" />
}

<div class="tableHelper">
    <h2>Settlement List</h2>
    <form method="get" action="@Url.Action("Index")" class="pageSizeForm">
        <input type="hidden" name="page" value="@ViewBag.CurrentPage" />
        <input type="number" name="pageSize" value="@ViewBag.PageSize" min="1" max="@ViewBag.TotalSize" class="numberField" />
        <button type="submit" class="defaultButton">Set Page Size</button>
    </form>
</div>

<table class="entityTable">
    <thead>
        <tr>
            <th>Title</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var settlement in Model)
        {
            <tr>
                <td>@settlement.Title</td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination">
    @if (ViewBag.HavePrev)
    {
        <a class="defaultButton" href="@Url.Action("Index", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })">Previous</a>
    }
    else
    {
        <button class="defaultButton" disabled>Previous</button>
    }

    <span class="current-page">Page @ViewBag.CurrentPage</span>


    @if (ViewBag.HaveNext)
    {
        <a class="defaultButton" href="@Url.Action("Index", new { Page = ViewBag.CurrentPage + 1, PageSize = ViewBag.PageSize })">Next</a>
    }
    else
    {
        <button class="defaultButton" disabled>Next</button>
    }
</div>
